<strong>Olá, {{deliveryman}}</strong>
<p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong>{{recipient}}<br />
  <strong>Data/hora:</strong> {{date}}<br />
  <br />
  <small>
    Muito obrigado pela atenção.
  </small>
</p>
